* {
    background-color: #d0cad9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 24px;

}

.todo {
    position: absolute;
    width: 96px;
    height: 41px;
    left: 56px;
    top: 56px;
    /* margin-left:56px;
    margin-top:56px; */
    /* H1 */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
}

.new-continue-button {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    border: none;
    outline: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 42px;
    gap: 10px;
    position: absolute;
    width: 256px;
    height: 44px;
    /* left: 1128px; */
    right: 56px;
    top: 137px;
    /* Purple */
    background: #800080;
    /* Button Effect */
    box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.25), inset -4px -4px 16px rgba(39, 39, 39, 0.1), inset 4px 4px 16px rgba(39, 39, 39, 0.07);
    border-radius: 4px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background: rgba(126, 122, 122, 0.5);
    /* Black w/ opacity */
}

/* Modal Content Box */
.modal-content {
    position: absolute;
    width: 753px;
    height: 276px;
    left: 344px;
    top: 174px;
    background-color: #fefefe;
}

.title-h2 {
    background-color: #fefefe;
    position: absolute;
    width: 49px;
    height: 28px;
    left: 48px;
    top: 48px;
    /* H2 */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    /* Black */
    color: #272727;
}

.date-h2 {
    background-color: #fefefe;
    position: absolute;
    width: 53px;
    height: 28px;
    left: 48px;
    top: 124px;
    /* H2 */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    /* Black */
    color: #272727;
}

.text {
    box-sizing: border-box;
    outline: none;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 600px;
    height: 44px;
    left: 113px;
    top: 40px;
    /* Back */
    background: #D0CAD9;
    /* Black */
    border: 1px solid #272727;
}

.date-text::placeholder {
    color: black;
}

.date-text {
    outline: none;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 149px;
    height: 44px;
    left: 113px;
    top: 116px;
    /* Back */
    background: #D0CAD9;
    /* Black */
    border: 1px solid #272727;
    color: black;
    /* date/empty */
    outline: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    /* Black */
    color: #272727;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
}

.cancel-btn {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
    /* Auto layout */
    /* outline: none; */
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 58px;
    gap: 10px;
    width: 308.5px;
    height: 44px;
    position: absolute;
    left: 48px;
    bottom: 40px;
    background: rgba(126, 122, 122, 0.5);
    box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
    border-radius: 4px;
}

.save-btn {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 58px;
    gap: 10px;
    width: 308.5px;
    height: 44px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    background: #800080;
    box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.1);
    border-radius: 4px;
}
.calendar{
    height: 24px;
    width: 24px;
    left: 4px;
    top: 4px;
    border-radius: 0px;

}