* {
    background-color: #d0cad9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 24px;
}

.first-page-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#username {
    margin-bottom: 24px;
    width: 117px;
    height: 28px;
}

.username-textbox {
    width: 400px;
    height: 44px;
    padding: 10px;
    border: 1px solid #272727;
}

.username-textbox:focus {
    outline: none;
    /* box-shadow: 3px -3px 57px 12px rgba(186, 171, 230, 0.36);
    -webkit-box-shadow: 3px -3px 57px 12px rgba(186, 171, 230, 0.36);
    -moz-box-shadow: 3px -3px 57px 12px rgba(186, 171, 230, 0.36);*/
} 

.continue-button {
    margin-top: 64px;
    width: 256px;
    height: 44px;
    border: none;
    outline: none;
    color: white;
    /* Purple */

    background: #800080;
    /* Button Effect */

    box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.25), inset -4px -4px 16px rgba(39, 39, 39, 0.1), inset 4px 4px 16px rgba(39, 39, 39, 0.07);
    border-radius: 4px;
}